.site-header{
    background-color:#1e2a46 ;
    color: #bbc4d8;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-pic{
    width: 150;
    height: 150;
    border-radius: 50%;
    box-shadow: #071127 2px 5px 5px;
    

}
body{
    margin: 0;

}